body {
    color: rgb(7, 1, 1);
}

h1{
    font-family: var(--header-text);
    font-size: 4rem;
    font-weight: 900;
    padding-top: .5rem;
    font-style: italic;
    color: var(--light-color);
    text-align: center;
    text-shadow: 10px 10px 10px #cb3ee5;
    /* background-color: var(--grey-color); */
    text-decoration: none;
}

.correct{
    background: linear-gradient(32deg, rgba(11,223,36) 0%, rgb(41,232,111) 100%);
    border-radius: 30px;
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 21, 6) 0%, rgb(255, 0, 0) 100%);
    border-radius: 30px;
}